---
- name: Update nmap scripts
  become: yes
  command: nmap --script-updatedb

- name: Update file database
  become: yes
  command: updatedb

- name: Check if rockyou.txt.gz exists
  stat:
    path: /usr/share/wordlists/rockyou.txt.gz
  register: rockyou_gz_stat

- name: Decompress rockyou.txt if it exists
  become: yes
  command: gzip -d /usr/share/wordlists/rockyou.txt.gz
  when: rockyou_gz_stat.stat.exists

- name: fix scrolling in vmware
  lineinfile:
    path: ~/.zhrc
    line: 'imwheel -b "4 5" > /dev/null 2>&1'
    create: yes

- name: Create multiple directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: kali
    group: kali
  loop:
    - /home/kali/labs
    - /home/kali/labs/tools
    - /home/kali/labs/scripts
    - /home/kali/labs/boxes
    - /home/kali/labs/boxes/offsec
    - /home/kali/labs/boxes/htb

